/* ======== Переменные цветов ======== */
/* ====== Переменные для шрифтов ===== */
/* ========= Базовые настройки ========= */
body {
  background-color: rgba(10, 12, 20, 0.9);
}
button,
input,
a,
textarea {
  outline: none;
  border: none;
}
button:focus {
  outline: none;
}
a,
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
